# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Environment files
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# Output directories
build/
dist/
coverage/
out/

# Database files
db.sqlite
db.sqlite3
*.db-journal

# Temporary files
*.swp
*.swo
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# IDE / Editor files
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
venv/

# Django
*.pyc
*.pyo
migrations/
staticfiles/
media/

# Flask
instance/
*.pyc
# .env